.box1{

    border: solid 3px black;
    height: 100px;
    width: 300px;
    background-color: teal;


    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 25px;
    margin-right: 50px;

}

.box2{
    border: solid 3px black;
    height: 150px;
    width: 30%;
    background-color: red;
    margin: auto;

}

.box3{
    border: solid 3px black;
    height: 100px;
    width:200px;

    background-color: greenyellow;
    margin: auto;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.box4{
    border: solid 3px black;
    height: 100px;
    width: 200px;
    background-color: purple;
    margin: 100px 50px 100px 50px;
    padding: 15px 12px 15px 12px;
}

