div p{
    background-color: yellow;
 /* effecting on this p1,p2,p3 */

}

div >p{
    text-align: center;
    /* effecting on this p1,p3 */
}

div +p{
    font-weight: bold;
    color: red;
    /* effecting on this p4 */
}


div ~p{
    font-style: italic;
    text-decoration:underline;
    /* effecting on this p4,p5 */

}