.main{
    border: solid 1px black;
    height: 350px;
    width: 550px;
    margin: auto;
    text-align: center;
    background: chartreuse;
    
}


div{
    
  margin-top: 70px;
    
}
/* .box1{
    margin-top: 20px;
}
.box1{
    margin-top: 20px;
}
.box1{
    margin-top: 20px;
} */